.bg-theme {
  background-color: #1287a5;
}
.cart-icon {
  font-size: 1.75rem;
}
.main-background {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.about-background {
  min-height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.services-background {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.collapse.navbar-collapse.show {
  float: right;
  margin: auto;
}
.card-title.text-primary {
  padding: auto;
}

.dropbtn {
  border-radius: 12px;
  border: 2px solid #008CBA;
}

.dropbtn:hover{
  background-color: #008CBA;
  color: white;
}

.dropdown {
  position: absolute;
  display: inline-block;
  top: 1260px;
  right: 120px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

